body {
  margin: 0;
  font-family: DINPro;
  font-weight: 700;
  background: linear-gradient(180deg, rgb(255, 255, 255) 8%, rgba(105, 224, 249, 0.4) 100%);
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

main {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.padding {
  padding-left: 18%;
}

.logo {
  max-width: 535px;
  padding-top: 55px;
}

.title {
  text-transform: uppercase;
  color: #29A6DE;
}

.title h2 {
  font-size: 32px;
  max-width: 920px;
}

.title h1 {
  color: black;
  font-size: 36px;
}

.title h1 span {
  color: #29A6DE;
  padding-right: 10px;
}

@font-face {
  font-family: DINPro;
  font-display: swap;
  src: url("../fonts/DINPro-Bold.woff2") format("woff2"), url("../fonts/DINPro-Bold.ttf2") format("ttf2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: DINPro;
  font-display: swap;
  src: url("../fonts/DINPro.woff2") format("woff2"), url("../fonts/DINPro.ttf2") format("ttf2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: DINPro;
  font-display: swap;
  src: url("../fonts/DINPro-Medium.woff2") format("woff2"), url("../fonts/DINPro-Medium.ttf2") format("ttf2");
  font-weight: 500;
  font-style: normal;
}

.buttons-block {
  margin-top: 120px;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.buttons-block .button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #29A6DE;
  border: none;
  font-family: DINPro;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  height: 45px;
}

.buttons-block .button:nth-child(1) {
  width: 230px;
}

.buttons-block .button:nth-child(2) {
  width: 250px;
}

.buttons-block .button:nth-child(3) {
  width: 170px;
}

.contacts {
  max-width: 600px;
  margin-top: 120px;
}

.contacts p {
  font-weight: 400;
  margin: 0;
  font-size: 22px;
}

.contacts__phone {
  font-size: 20px;
}

.contacts__links {
  font-size: 20px;
  font-weight: 500;
}

.contacts__links a:nth-child(2) {
  color: #29A6DE;
}

.partners {
  display: flex;
  margin-top: 40px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-bottom: 20px;
}

.partners .partner {
  max-width: 120px;
  flex: 1;
  display: flex;
  align-items: center;
}

.partners .partner:nth-child(4),
.partners .partner:nth-child(5) {
  max-width: 70px;
}

@media (min-width: 501px) and (max-width: 1259px) {
  .title h2 {
    font-size: 30px;
    max-width: 800px;
  }

  .title h1 {
    display: none;
  }

  .buttons-block {
    margin-top: 50px;
  }

  .buttons-block .button {
    font-size: 12px;
  }

  .buttons-block .button:nth-child(1) {
    width: 170px;
  }

  .buttons-block .button:nth-child(2) {
    width: 190px;
  }

  .buttons-block .button:nth-child(3) {
    width: 130px;
  }

  .contacts {
    margin-top: 30px;
  }

  .partners {
    padding-bottom: 350px;
  }

  main {
    background-size: 60%;
  }

  .padding {
    padding-right: 20px;
  }
}

@media (min-width: 301px) and (max-width: 499px) {
  .logo {
    max-width: 270px;
  }

  .title h2 {
    font-size: 18px;
  }

  .title h1 {
    display: none;
  }

  .buttons-block {
    margin-top: 50px;
    flex-direction: column;
    row-gap: 10px;
  }

  .buttons-block .button {
    font-size: 14px;
  }

  .buttons-block .button:nth-child(1) {
    width: 210px;
  }

  .buttons-block .button:nth-child(2) {
    width: 210px;
  }

  .buttons-block .button:nth-child(3) {
    width: 210px;
  }

  .contacts {
    margin-top: 40px;
  }

  .contacts p {
    font-size: 13px;
  }

  .contacts__phone {
    font-size: 13px;
  }

  .contacts__links {
    font-size: 13px;
  }

  .partners {
    padding-bottom: 220px;
  }

  main {
    background-size: 90%;
  }

  .padding {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 1261px) and (max-width: 1879px) {
  main {
    background-size: 40%;
  }
}